@font-face {
  font-family: 'Algerian';
  src: url('../../assets/fonts/algerian.ttf');
  font-weight: bold;
}
.Header{
  height: 70px;
  width: 100vw;
  background-color: rgb(147, 255, 219);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 21px;
}
.logo{
  height: 50px;
}
ul li{
  display: block;
  float:left;
}
.nav-link{
  padding:16px 16px;
  text-decoration:none;
  font-family: 'Algerian';
  color:black;
  font-size: 18px;
  font-weight: 500;
  position: relative;
  cursor: pointer;
} 
.nav-link:before, .nav-link:after{
  content: "";
  width: 0%;
  height: 3px;
  background-color: black;
  position: absolute;
  transition: all .5s ease-in-out;
  opacity: 0;
}  
.nav-link:before{
  top: 0px;
  transition: all ease-in-out 250ms;
}  
.nav-link:after{
  right: 0px;
  bottom: 0px;
  transition: all ease-in-out 250ms;  
}
.nav-link:hover:before{
  width: 83%;
  opacity: 10;
}   
.nav-link:hover:after{
  width: 83%;
  opacity: 10;
}
input[type=checkbox]{
  display: none;
} 
.check-menu {
  display: none;
  font-size: 24px;
  user-select: none;
}

@media only screen and (max-width: 720px) {
  .menu { 
    display:none;
    position: absolute;
    background-color:rgb(147, 255, 219);
    right: 0;
    left: 0;
    text-align: center;
    padding: 16px 0;
    margin-top: 20px;
    z-index: 100;
  }
  .menu li + li {
    margin-top: 20px;
  }
  input[type=checkbox]:checked ~ .menu{
    display: flex;
    flex-direction: column;
  }
  .check-menu {
    display: block;
  }  
  input[type=checkbox]:checked ~ label[for="checkbox_toggle"]{
    visibility: hidden;
  }
  input[type=checkbox]:checked ~ label[for="checkbox_toggle"]:after{
    visibility: visible;
    content:'\2613';
  }
}
