 :root {
  --background-color: rgb(209, 255, 243);
  --color-number-selected: rgb(0, 255, 149);
  --color-cell-value-selected: rgb(146, 255, 226);
  --color-innerborder: rgb(137, 156, 151);
  --color-outerborder: rgb(72, 78, 78);
  --color-userfilled: rgb(101, 136, 127);
  --color-autofilled: rgb(31, 48, 43);
  --color-cell-selected: rgb(0, 255, 187);
}
.game-container {
  max-width: 700px;
  min-width: 270px;
  margin: 30px auto;
  padding: 10px;
  padding-bottom: 20px;
  background-color: var(--background-color);
}
.top-container{
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 10px;
}
.difficulty-text {
  margin-left: 10px;
  font-size: 16px;
  font-weight: 600;
  line-height: 2;
  color:var(--color-outerborder);
  font-family: Georgia, 'Times New Roman', Times, serif;
}
.difficulty-select {
  border: none;
  font-family: Georgia, 'Times New Roman', Times, serif;
  padding: 0 10px;
  font-size: 14px;
  font-weight: 600;
  line-height: 2;
  color: var(--color-innerborder);
  background-color: var(--background-color);
}
.timer {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.2rem;
  background-color: var(--color-greenselected);
  color:var(--color-innerborder);
  padding-top: 4px;
  margin-right: 10px;
}
.bottom-container{
  display: flex;
}
.left-container{
  width:70%;
}
.game-board {
  font-family: Arial, Helvetica, sans-serif;
  font-size: 26px;
  margin-left: 10px;
  border: 2px solid var(--color-outerborder);
  border-collapse: collapse;
}
.game-cell {
  border: 1px solid var(--color-innerborder);
  padding: 12px 16px;
  color: var(--background-color);
  cursor: pointer;
}
.game-cell.game-cell-Autofilled {
  color: var(--color-autofilled);
  font-weight: 700;
}
.game-cell.game-cell-userfilled {
  color: var(--color-userfilled);
}
.game-cell.game-cell-Autofilled.game-cell--selected {
  color: var(--color-autofilled);
  background-color: var(--color-cell-value-selected);
}
.game-cell.game-cell-userfilled.game-cell--selected {
  color: var(--color-userfilled);
  background-color: var(--color-cell-value-selected);
}
.game-cell.game-cell-highlight-selected {
  color: var(--color-cell-selected);
  background-color: var(--color-cell-selected);
}
.game-cell.game-cell-Autofilled.game-cell-highlight-selected {
  color: var(--color-autofilled);
  background-color: var(--color-cell-selected);
}
.game-cell.game-cell-userfilled.game-cell-highlight-selected {
  color: var(--color-userfilled);
  background-color: var(--color-cell-selected);
}
.game-row:nth-child(3n) {
  border-bottom: 2px solid var(--color-outerborder);
}
.game-cell:nth-child(3n) {
  border-right: 2px solid var(--color-outerborder);
}
.right-container{
  width:30%;
  padding-right: 10px;
}
.NewGameBtn{
  width:100%;
  background-color: var(--color-cell-value-selected);
  padding: 10px;
  font-size: 30px;
  border-radius: 10px;
  cursor: pointer;
  border: none;
}
.NewGameBtn:hover{
  background-color: var(--color-cell-selected);
}
.ToolSide{
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.tool{
  cursor: pointer;
}
.tool-image{
  width:50px;
  height: 50px;
  border-radius: 50%;
  background-color: var(--color-cell-value-selected);
  display: flex;
  justify-content: center;
  align-items: center;
}
.tool-image:hover{
  background-color: var(--color-cell-selected);
}
.tool-image img{
  width:30px;
}
.tool-title{
  margin-top: 10px;
  font-size: 13px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: var(--color-innerborder);
}
.NumberSide{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap:10px;
}
.number{
  text-align: center;
  font-family: 'Noto Sans', sans-serif;
  font-size: 40px;
  color:var(--color-innerborder);
  background-color: var(--color-cell-value-selected);
  cursor: pointer;
  padding: 20px 0;
  border-radius: 10px;
}
.number:hover{
  background-color: var(--color-cell-selected);
}
.number-selected{
  font-weight: 700;
  color:var(--color-outerborder);
  background-color: var(--color-cell-selected);
}
.overlay {
  position: fixed;
  display: none;
  width: 100vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background:url(../../assets/images/fireworks.gif) ;
  z-index: 2;
  cursor: pointer;
}
.overlay-visible {
  display: flex;
  justify-content: center;
  align-items: center;
}
.overlay-text{
   text-align: center;
   font-family: 'Source Sans Pro', sans-serif;
   font-size: 80px;
   font-weight: 600;
   background-image: linear-gradient(to left, violet, indigo, green, blue, yellow, orange, red);
   -webkit-background-clip: text;
   -moz-background-clip: text;
   background-clip: text;
   color: transparent;
}
@media screen and (max-width: 680px) {
  .inner-container{
    max-width: 500px;
    margin: 0 auto;
  }
  .game-board{
    width: 100%;
    margin-left: 0;
  }
  .game-cell {
    text-align: center;
  }
  .game-container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .top-container{
    width: 100%;
  }
  .bottom-container{
    flex-direction: column;
  }
  .left-container{
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .right-container{
    margin-top: 20px;
    width:100%;
    margin: 0 auto;
    padding-right: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
  }
  .NewGameBtn{
    width: 45%;
    height: 50px;
  }
  .ToolSide{
    width:45%;
    padding-bottom: 10px;
  }
  .tool-image{
    width:40px;
    height: 40px;
  }
  .tool-image img{
    width:25px;
  }
  .tool-title{
    margin-top: 5px;
    font-size: 10px;
  }
  .NumberSide{
    width: 100%;
    grid-template-columns: repeat(9, 1fr);
  }
  .number{
    padding: 10px;
    font-size: 25px;
  }
}
 
@media screen and (max-width: 500px) {
  .number {
    font-size: 18px;
    padding: 8px;
  }
  .game-cell{
    font-size: 18px;
    padding: auto;
  }
  .overlay-text {
    font-size: 50px;
  }
  .NewGameBtn{
    font-size: 25px;
  }
}

@media screen and (max-width: 420px) {
  .number {
    font-size: 16px;
    padding: 4px;
  }
  .game-cell{
    font-size: 16px;
    padding: 0;
    width: 10vw;
    height: 10vw;
  }
  .game-cell.game-cell-Autofilled{
    font-weight: 850;
  }
  .NewGameBtn{
   height: fit-content;
   font-size: 20px;
   }
  .overlay-text {
    font-size: 40px;
  }
}
