*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  background: linear-gradient(45deg,rgba(160, 255, 255, 0.8) 0%, rgba(160, 255, 223, 0.8)100%), url('./assets/images/background.png');
  background-attachment: fixed;
  background-position: 0% 0%, center;
  background-repeat: repeat, repeat;
  background-size: cover, cover;
}